<!DOCTYPE html>

<html lang="en">

{% include 'polls/head.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/about.css' %}">


</head>

<body>
    {% include 'polls/nav.html' %}

    <!--NAV -->

    <section class="about__achievements">
        <div class="container about__achievements-container">
            <div class="about__achievements-left">
                <img src="images/about.svg" alt="">
            </div>

            <div class="about__achievements-right">
                <h1>Goals</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid dicta atque dolorum praesentium
                    eligendi placeat. Quae accusantium culpa fugiat maiores quam eum corrupti cupiditate vel, illo,
                    excepturi dolorem incidunt exercitationem.
                </p>

                <div class="achievements__card">

                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="bi bi-ev-station"></i>
                        </span>
                        <h3>100+</h3>
                        <p>Stations</p>
                    </article>

                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="bi bi-people"></i>
                        </span>
                        <h3>100,000+</h3>
                        <p>Customers</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!--================END ACHIEVEMENTS=================-->
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>