<!DOCTYPE html>
<html lang="en">

{% include 'polls/head.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'polls/map.css' %}">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css">

</head>

<body>
    {% include 'polls/nav.html' %}
    <!--NAV-->
    <section class="container map__container">
        <div id="map" style='width: 100%; height: 89vh;'></div>
        <div class="details"></div>
    </section>
    <!--================END MAP=================-->


    <script>
        // show/hide nav menu
        const menu = document.querySelector(".nav__menu");
        const menuBtn = document.querySelector("#open-menu-btn");
        const closeBtn = document.querySelector("#close-menu-btn");

        menuBtn.addEventListener('click', () => {
            menu.style.display = 'flex';
            closeBtn.style.display = 'inline-block';
            menuBtn.style.display = 'none';
        })

        // close nav menu
        const closeNav = () => {
            menu.style.display = 'none';
            closeBtn.style.display = 'none';
            menuBtn.style.display = 'inline-block';
        }
        closeBtn.addEventListener('click', closeNav)


    </script>
    <script>


        var YOUR_MAPBOX_ACCESS_TOKEN = 'pk.eyJ1IjoiY2hhcmxvZTEyIiwiYSI6ImNsNnNoZnkxeDA5bWkzZHFqNTRvcjF6aGEifQ.ZjkBlirZZ4UzTfZTImP5wg'
        const details = document.querySelector('.details');





        mapboxgl.accessToken = YOUR_MAPBOX_ACCESS_TOKEN;


        navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
            enableHighAccuracy: true
        })
        function successLocation(position) {


            setupMap([position.coords.longitude, position.coords.latitude])

        }
        function errorLocation() { }

        function setupMap(center) {
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: center,
                zoom: 4
            })


            const nav = new mapboxgl.NavigationControl();

            map.addControl(
                nav,
                'bottom-left');
            const popup = new mapboxgl.Popup({ offset: 25 }).setHTML('<h1>me</h1>');


            const marker = new mapboxgl.Marker({

                color: 'gray',
                draggable: true
            }).setLngLat(center).addTo(map).setPopup(popup);





        }




    </script>

</body>

</html>