<section id="menu">
    <div class="logo">
        <img src="">
        <h2>Scars</h2>
    </div>
    <div class="items">
        <li><i class="bi bi-pie-chart"></i>
            <a href="http://localhost/end/admin/profile.php">Dashboard</a>
        </li>
        <li><i class="bi bi-basket"></i>
            <a href="http://localhost/end/admin/stations.php">Stations</a>
        </li>
        <li><i class="bi bi-door-open"></i>
            <a href="logout.php">logout</a>
        </li>
    </div>
</section>